@keyframes animacja {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0px);
  }
}
body {
  background-color: #eee;
}
nav ul li {
  float: left;
  padding: 1em;
  padding-top: 5em;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-right: 2.5em;
}
nav ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
#logo {
  float: left;
  margin-right: 5em;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
#logo:hover {
  transform: scale(0.95);
  cursor: pointer;
}
footer {
  padding: 1em;
  background-color: black;
  color: white;
  text-align: center;
}
#social {
  clear: both;
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 30px;
}
.fb {
  display: inline-flex;
}
.fb:hover {
  color: black;
}
.insta {
  display: inline-flex;
}
.insta:hover {
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
#photoofme {
  align-content: left;
  padding-top: 300px;
  padding-left: 80px;
  padding-bottom: 300px;
  animation: animacja 1.5s ease-out;
}
#tekst {
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: justify;
  width: 750px;
  margin-right: 80px;
  margin-top: 250px;
  line-height: 140%;
}
